*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

.hero, .presentation, .ascensions, .morts, .nations, .environment, footer {
  scroll-snap-align: start;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}
body .hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero .hero_container {
  display: flex;
  padding: 1% 0 0 1%;
}
body .hero .hero_container .hero_title_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .hero .hero_container .hero_title_container .hero_title {
  margin-bottom: 12rem;
}
body .hero .hero_container .hero_title_container .hero_title .upper_title,
body .hero .hero_container .hero_title_container .hero_title .lower_title {
  text-transform: uppercase;
  color: #2E3B60;
  font-family: "Staatliches", sans-serif;
  font-size: 8rem;
}
body .hero .hero_container .hero_title_container .hero_button {
  margin: 0 0 1rem 1rem;
  position: relative;
  top: 4px;
  left: -13px;
}
body .hero .hero_container .hero_title_container .hero_button a {
  font-family: "Staatliches", sans-serif;
  color: #2E3B60;
  text-decoration: none;
  font-size: 1.7rem;
  border: 1px solid #2E3B60;
  border-radius: 12px;
  padding: 0.6rem 4rem 0.6rem 4rem;
  transition: 0.7s;
}
body .hero .hero_container .hero_title_container .hero_button a:hover {
  color: #F1F1F1;
  background-color: #2E3B60;
}
body .hero .hero_container .hero_title_container .tip-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  margin: 10px;
}
body .hero .hero_container .hero_title_container .tip-container p {
  display: flex;
  align-items: center;
  margin: 8px 0 -5px 0;
  font-family: "Inter", sans-serif;
  color: #2E3B60;
}
body .hero .hero_container .hero_title_container .tip-container p img {
  max-width: 36px;
  margin: 0 5px;
}
body .hero .hero_container .hero_title_container .tip-container p #space {
  height: 1.5rem;
}
body .hero .hero_container .hero_title_container .tip-container p #info {
  height: 25px;
}
body .hero .hero_container .hero_title_container .tip-container p #keydown {
  height: 25px;
}
body .hero .hero_container .hero_title_container .tip-container #bottom-tip {
  position: relative;
  left: 10px;
}
body .hero .hero_container .hero_img_container img {
  width: 850px;
  margin-top: 9rem;
}
body .presentation {
  height: 100vh;
  background-color: #2E3B60;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .presentation .presentation_container {
  display: flex;
  padding-left: 1%;
  gap: 6rem;
  justify-content: space-evenly;
}
body .presentation .presentation_container .presentation_img_container img {
  width: 600px;
}
body .presentation .presentation_container .presentation_text_container {
  max-width: 480px;
}
body .presentation .presentation_container .presentation_text_container h1 {
  font-family: "Staatliches", sans-serif;
  color: #F1F1F1;
  font-size: 3rem;
  text-transform: none;
}
body .presentation .presentation_container .presentation_text_container p {
  font-family: "Inter", sans-serif;
  color: #F1F1F1;
  font-weight: 200;
}
body .presentation .presentation_container .presentation_text_container p span {
  font-weight: 400;
}
body .presentation .presentation_container .presentation_text_container .sources-note {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
body .ascensions {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .ascensions .ascensions_container {
  display: flex;
  padding: 1% 0 0 0;
  gap: 8rem;
}
body .ascensions .ascensions_container .ascensions_text_container {
  max-width: 400px;
}
body .ascensions .ascensions_container .ascensions_text_container h2 {
  color: #2E3B60;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  font-size: 3rem;
}
body .ascensions .ascensions_container .ascensions_text_container p {
  font-family: "Inter", sans-serif;
  color: #2E3B60;
  font-weight: 200;
}
body .ascensions .ascensions_container .ascensions_text_container p span {
  font-weight: 400;
}
body .ascensions .ascensions_container .ascensions_text_container p strong {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
body .ascensions .ascensions_container .ascensions_text_container p strong img {
  height: 30px;
}
body .ascensions .ascensions_container .ascensions_img_container svg {
  margin-top: 8rem;
  width: 100%;
  height: auto;
}
body .ascensions .ascensions_container .ascensions_img_container #tooltip {
  opacity: 0;
  position: absolute;
  color: rgb(46, 59, 96);
  font-family: "Inter", sans-serif;
  padding: 2%;
  border: 1px solid rgb(46, 59, 96);
  border-radius: 14px;
  background-color: rgb(241, 241, 241);
  transition: opacity 1s;
  pointer-events: none;
  width: fit-content;
}
body .ascensions .ascensions_container #sources-graph {
  color: #2E3B60;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  bottom: -20px;
}
body .morts {
  height: 100vh;
  background-color: #2E3B60;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .morts .morts_container .mort_top_container {
  margin-top: 3rem;
}
body .morts .morts_container .mort_top_container .upper_text,
body .morts .morts_container .mort_top_container .lower_text {
  color: #F1F1F1;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  text-align: center;
}
body .morts .morts_container .mort_top_container .nombre_morts {
  text-transform: uppercase;
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  text-align: center;
}
body .morts .morts_container .chute {
  position: absolute;
  top: 0;
  left: 0;
}
body .morts .morts_container .avalanche {
  position: absolute;
  top: 0;
  right: 0;
}
body .morts .morts_container .arrow {
  position: relative;
  bottom: -100px;
  left: -50px;
}
body .morts .morts_container .text_relative {
  position: relative;
  top: -3px;
  left: -10px;
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
body .morts .morts_container .morts_text_container {
  max-width: 1010px;
}
body .morts .morts_container .morts_text_container .text_wrapper {
  display: flex;
  gap: 5rem;
}
body .morts .morts_container .morts_text_container p {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
}
body .morts .morts_container .morts_text_container p span {
  font-weight: 400;
}
body .morts .morts_container .morts_text_container a {
  position: absolute;
  bottom: 7%;
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
}
body .morts .morts_container input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 4px;
}
body .morts .morts_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 25px;
  background-image: url("../assets/floconBlanc.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}
body .morts .morts_container input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 25px;
  background-image: url("../assets/floconBlanc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}
body .morts .morts_container .range-container {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
}
body .morts .morts_container .dates {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
body .nations {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .nations .nations_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
body .nations .nations_container #nations_graph_container {
  height: 400px;
  display: flex;
  align-items: flex-end;
  margin-top: 9rem;
}
body .nations .nations_container #nations_graph_container .bar {
  position: relative;
}
body .nations .nations_container #nations_graph_container .bar .uk-img {
  position: absolute;
  height: 280px;
  top: -28.3rem;
  right: -16.5rem;
}
body .nations .nations_container #nations_graph_container .bar .usa-img {
  position: absolute;
  height: 280px;
  right: -24.5rem;
  top: -36rem;
}
body .nations .nations_container #nations_graph_container .bar .nepal-img {
  position: absolute;
  height: 280px;
  right: -33rem;
  top: -25.5rem;
}
body .nations .nations_container #nations_graph_container .bar:hover {
  cursor: pointer;
}
body .nations .nations_container .nations_text_container {
  width: 500px;
}
body .nations .nations_container .nations_text_container h2 {
  color: #2E3B60;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  font-size: 3rem;
}
body .nations .nations_container .nations_text_container p {
  color: #2E3B60;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
body .nations .nations_container #nation-sources {
  color: #2E3B60;
  font-family: "Inter", sans-serif;
  position: relative;
  bottom: -20px;
}
body .environment {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #2E3B60;
}
body .environment .environement_container {
  display: flex;
  padding: 1%;
  gap: 8rem;
}
body .environment .environement_container .environement_text {
  width: 400px;
}
body .environment .environement_container .environement_text h2 {
  color: #F1F1F1;
  font-family: "Staatliches", sans-serif;
  font-size: 3rem;
}
body .environment .environement_container .environement_text p {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
body .environment .environement_container .environement_text p span {
  font-weight: 400;
}
body .environment .environement_container .environement_text #sources-environement {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
}
body .environment .environement_container .environement_img {
  display: flex;
  align-items: center;
}
body .environment .environement_container .environement_img img {
  height: 490px;
}
body footer {
  background-color: #2E3B60;
  padding: 6%;
}
body footer .select-info {
  text-align: right;
}
body footer .select-info h3 {
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  font-size: 2.7rem;
  color: #f1f1f1;
  margin: 20px 0;
  cursor: pointer;
}
body footer .mentions-details {
  background-color: #2E3B60;
}
body footer .mentions-details .mentions-container {
  padding-bottom: 4rem;
  border-bottom: 1px solid #f1f1f1;
}
body footer .mentions-details .mentions-container h4 {
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  color: #f1f1f1;
  font-size: 1.3rem;
}
body footer .mentions-details .mentions-container p {
  font-size: 1rem;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}
body footer .mentions-details .mentions-container ul li {
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}
body footer .mentions-details .mentions-container span {
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
}
body footer .mentions-details .mentions-container span a {
  color: #f1f1f1;
}
body footer .sources-details {
  background-color: #2E3B60;
}
body footer .sources-details .sources-container {
  padding-bottom: 2rem;
  border-bottom: 1px solid #f1f1f1;
}
body footer .sources-details .sources-container h4 {
  color: #f1f1f1;
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
}
body footer .sources-details .sources-container a {
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}
body footer .sources-details .sources-container ol {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
}
body footer .sources-details .sources-container ul {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
}
body footer .sources-details .sources-container p {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
}
body footer .contact-details {
  background-color: #2E3B60;
}
body footer .contact-details .titre-footer {
  color: #f1f1f1;
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}
body footer .contact-details p {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  margin-bottom: 3rem;
}
body footer .contact-details .links-profile-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F1F1F1;
}
body footer .contact-details .links-profile-container .profile-container .prenom {
  color: #F1F1F1;
  font-family: "Staatliches", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.1rem;
}
body footer .contact-details .links-profile-container .profile-container .images-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body footer .contact-details .links-profile-container .profile-container .images-container a {
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1024px) and (max-width: 1300px) {
  body .hero .hero_container {
    gap: 0;
  }
  body .hero .hero_container .hero_img_container img {
    width: 600px;
  }
  body .presentation .presentation_container {
    gap: 7rem;
    padding: 5% 1% 0 1%;
  }
  body .presentation .presentation_container .presentation_img_container img {
    width: 500px;
  }
  body .presentation .presentation_container .presentation_text_container {
    max-width: 400px;
  }
  body .presentation .presentation_container .presentation_text_container h1 {
    font-size: 2.5rem;
  }
  body .presentation .presentation_container .presentation_text_container p {
    font-size: 1rem;
  }
  body .hero .hero_container .hero_title_container .tip-container {
    font-size: 0.8rem;
  }
  body .ascensions .ascensions_container .ascensions_img_container svg {
    margin-top: -2rem;
  }
  body .ascensions .ascensions_container .ascensions_text_container {
    max-width: 720px;
  }
  body .ascensions .ascensions_container {
    display: block;
    padding: 0;
    gap: 0rem;
  }
  body .ascensions .ascensions_container #sources-graph {
    position: absolute;
    right: 680px;
    bottom: -196%;
    color: #2E3B60;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
  .morts_container {
    padding: 5rem;
  }
  body .nations .nations_container {
    gap: 7rem;
  }
  body .nations .nations_container .nations_text_container h2 {
    font-size: 2.3rem;
  }
  body .nations .nations_container .nations_text_container p {
    width: 24rem;
  }
  body .environment .environement_container .environement_text {
    margin-left: 1rem;
  }
  body .environment .environement_container .environement_img img {
    height: 370px;
  }
  body .environment .environement_container .environement_text h2 {
    font-size: 2.3rem;
  }
  body .environment .environement_container {
    gap: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
