$color-blue: #2E3B60;
$font-familiy-staatliches: "Staatliches", sans-serif;
$font-family-inter: "Inter", sans-serif;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;

    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .hero_container {
            display: flex;
            padding: 1% 0 0 1%;
            gap: 16rem;

            .hero_title_container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .hero_title {
                    margin-bottom: 12rem;

                    .upper_title,
                    .lower_title {
                        text-transform: uppercase;
                        color: $color-blue;
                        font-family: $font-familiy-staatliches;
                        font-size: 8rem;
                    }
                }

                .hero_button {
                    margin: 0 0 1rem 1rem;

                    a {
                        font-family: "Staatliches", sans-serif;
                        color: #2E3B60;
                        text-decoration: none;
                        font-size: 1.7rem;
                        border: 1px solid #2E3B60;
                        border-radius: 12px;
                        padding: .6rem 4rem .6rem 4rem;
                        transition: .7s;

                        &:hover {
                            color: #F1F1F1;
                            background-color: #2E3B60;
                        }
                    }
                }
            }

            .hero_img_container {
                img {
                    width: 690px;
                    margin-top: 9rem;                
                }
            }
        }
    }

    .presentation {
        height: 100vh;

        .presentation_container {
            display: flex;
            padding: 12% 0 0 1%;
            gap: 8rem;

            .presentation_img_container {
                img {
                    width: 650px;
                }
            }

            .presentation_text_container {
                max-width: 480px;

                h1 {
                    font-family: $font-familiy-staatliches;
                    color: $color-blue;
                    font-size: 3rem;
                    text-transform: none;
                }
                p {
                    font-family: $font-family-inter;
                    color: $color-blue;
                    font-weight: 200;
                }
            }
        }
    }

    .ascensions {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .ascensions_container {
            display: flex;
            padding: 1% 0 0 0;
            gap: 8rem;

            .ascensions_text_container {
                max-width: 400px;

                h2 {
                    color: #2E3B60;
                    text-transform: uppercase;
                    font-family: $font-familiy-staatliches;
                    font-size: 2.5rem;
                }
                p {
                    font-family: $font-family-inter;
                    color: $color-blue;
                    font-weight: 200;
                }
            }

            .ascensions_img_container {
                svg {
                    margin-top: 5rem;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .morts {
        height: 100vh;
        background-color: #2E3B60;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .morts_container {
            // position: relative;

            .mort_top_container {
                margin-bottom: 5rem;
                
                .upper_text,
                .lower_text {
                    color: #F1F1F1;
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-family: $font-familiy-staatliches;
                    text-align: center;
                }

                .nombre_morts {
                    text-transform: uppercase;
                    color:#F1F1F1;
                    font-family: $font-familiy-staatliches;
                    font-size: 8rem;
                    text-align: center;
                }
            }

            .chute {
                position: absolute;
                top: 0;
                left: 0;
            }
            .avalanche {
                position: absolute;
                top: 0;
                right: 0;
            }

            .morts_text_container {
                max-width: 1000px;

                p {
                    color: #F1F1F1;
                    font-family: $font-family-inter;
                    font-weight: 200;
                }
            }

            input[type="range"] {
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                height: 4px;
              }
          
              input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                background-color: white;
                cursor: pointer;
                border-radius: 50%;
              }
          
              input[type="range"]::-moz-range-thumb {
                width: 15px;
                height: 15px;
                background-color: white;
                cursor: pointer;
                border-radius: 50%;
              }

              .range-container {
                width: 100%;
                text-align: center;
                position: relative;
                margin-top: 50px;
              }
          
              .dates {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                color: white;
                font-size: 14px;
              }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    body {
        .hero {
            .hero_container {
                gap: 0;

                .hero_img_container {
                    img {
                        width: 600px;
                    }
                }
            }
        }

        .presentation .presentation_container {
            gap: 7rem;
            padding: 5% 1% 0 1%;
    
            .presentation_img_container {
                img {
                    width: 500px; 
                }
            }
    
            .presentation_text_container {
                max-width: 400px; 
    
                h1 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    body .ascensions .ascensions_container .ascensions_text_container {
        max-width: 720px;
    }
    body .ascensions .ascensions_container {
        display: block;
        padding: 0;
        gap: 0rem;
    }
}