$color-blue: #2E3B60;
$font-familiy-staatliches: "Staatliches", sans-serif;
$font-family-inter: "Inter", sans-serif;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;

    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .hero_container {
            display: flex;
            padding: 1% 0 0 1%;
            gap: 16rem;

            .hero_title_container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .hero_title {
                    margin-bottom: 12rem;

                    .upper_title,
                    .lower_title {
                        text-transform: uppercase;
                        color: $color-blue;
                        font-family: $font-familiy-staatliches;
                        font-size: 8rem;
                    }
                }

                .hero_button {
                    margin: 0 0 1rem 1rem;

                    a {
                        font-family: "Staatliches", sans-serif;
                        color: #2E3B60;
                        text-decoration: none;
                        font-size: 1.7rem;
                        border: 1px solid #2E3B60;
                        border-radius: 12px;
                        padding: .6rem 4rem .6rem 4rem;
                        transition: .7s;

                        &:hover {
                            color: #F1F1F1;
                            background-color: #2E3B60;
                        }
                    }
                }
            }

            .hero_img_container {
                img {
                    width: 690px;
                    margin-top: 9rem;                
                }
            }
        }
    }

    .presentation {
        height: 100vh;

        .presentation_container {
            display: flex;
            padding: 12% 0 0 1%;
            gap: 8rem;

            .presentation_img_container {
                img {
                    width: 650px;
                }
            }

            .presentation_text_container {
                max-width: 480px;

                h1 {
                    font-family: $font-familiy-staatliches;
                    color: $color-blue;
                    font-size: 3rem;
                    text-transform: none;
                }
                p {
                    font-family: $font-family-inter;
                    color: $color-blue;
                    font-weight: 200;
                }
            }
        }
    }

    .ascensions {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .ascensions_container {
            display: flex;
            padding: 1% 0 0 8%;
            gap: 8rem;

            .ascensions_text_container {
                max-width: 400px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    body {
        .hero {
            .hero_container {
                gap: 0;

                .hero_img_container {
                    img {
                        width: 600px;
                    }
                }
            }
        }

        .presentation .presentation_container {
            gap: 7rem;
            padding: 5% 1% 0 1%;
    
            .presentation_img_container {
                img {
                    width: 500px; 
                }
            }
    
            .presentation_text_container {
                max-width: 400px; 
    
                h1 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}